.container {
    font-family: Arial;
    padding: 20px;
    max-width: 350px;
    margin: 0 auto;
}

html {
    width: 356px;
    height: auto;
    max-width: 350px;
    margin: 0px;
    padding: 0px;
}

body {
    border: 3px solid #be0f2e;
    height: auto;
    max-width: 350px;
    margin: 0px;
    padding: 0px;
}

.logo {
    display: block;
    margin: 0 auto;
    border: 3px solid #be0f2e;
    max-width: 200px;
    margin-bottom: 5px;
}

.title {
    text-align: center;
    font-size: 24px;
    color: #333333;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contact-info {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #777777;
    text-align: center;
}

.contact-info a {
    color: #be0f2e;
}

.contact-info a:hover {
    color: #d63b5d;
}

button {
    background-color: #be0f2e;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    display: block;
}

button:hover {
    background-color: #d63b5d;
}

button:active {
    background-color: #a20c2e;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto; 
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
}

.item2fa {
    font-size: 48px;
    justify-content: right;
    margin-bottom: 10px;
}

p {
    margin: 20px 0px 10px 0px;
}

.copy {
    height: 36px;
    display: flex;
    justify-content: left;
}

.counter {
    text-align: center;
    background-color: #be0f2e;
    font-size: 24px;
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
}

.counterWrapper {
    grid-column: 1 / span 2;
    grid-row: 2;
    display: flex;
    justify-content: center;
    margin-top: -10px;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #333;
        color: #fff;
    }

    .container {
        background-color: #111;
    }

    .title {
        color: #fff;
    }

    .contact-info {
        color: #ccc;
    }
}